# {
  box-sizing: border-box;
}

body {
  background: #deb887; /*burlywood*/
}

div {
  border-top: groove .2em;
  border-right: groove .3em;
  border-bottom: groove .4em;
  border-left: groove .5em;
  font-size: 20px;
  text-align: center;
}

.swipey {
  background-color: chocolate;
}

.swipey:active {
  border-top: solid 5pxs;
  border-right: dotted 4px;
  border-bottom: groove 5px;
  border-left: double 6px;
  background-color: chocolate;
  font-size: 24px;
}

.swipey-right {
  background-color: red;
}

.swipey-left {
  background-color: blue;
}

@media screen and (max-width: 400px) {
  body {
    background-color: green;
  }
}
