body {
  background: #deb887; /*burlywood*/
}

div {
  border-top: groove 5px;
  border-right: double 6px;
  border-bottom: solid 5px;
  border-left: double 6px;
  font-size: 20px;
  text-align: center;
  /*  max-width: 97%;
  min-width: 30%;*/
}

.swipey {
  background-color: chocolate;
  height: 10vh;
  width: 1vw;
}

.swipey:active {
  border-top: solid 5pxs;
  border-right: dotted 4px;
  border-bottom: groove 5px;
  border-left: double 6px;
  background-color: chocolate;
  font-size: 24px;
}

.swipey-right {
  background-color: red;
}

.swipey-left {
  background-color: blue;
}

@media only screen and (max-width: 1000px) {
  body {
    background-color: red;
  }
}
