:root {
  --color1: red;
  --color2: green;
}
* {
  text-align: center;
  box-sizing: border-box;
}

body {
  background: hsl(190, 75%, 47%);
  text-align: center;
}
#buttonTodo {
  background-color: green;
  border-radius: 0px 25px;
}
#buttonToday {
  background-color: red;
  border-radius: 25px 0px;
}

#swipey-container {
  display: grid;
  align-items: center;
  font-size: 2em;
  text-align: center;
}
#inputitem {
  background-image: linear-gradient(
    to right,
    green,
    green,
    black,
    black,
    red,
    red
  );
  color: white;
}
.swipey {
  background-color: #d2691e;
  font-size: 2em;
  border-radius: 25px 25px 25px 25px;
  height: 2em;
  text-align: center;
}
.swipey:active {
  border-top: solid;
  border-right: groove;
  border-bottom: double;
  background-color: hsl(50, 75%, 47%);
}
.swipey-right {
  background-color: red;
}
.swipey-left {
  background-color: blue;
}
#answers {
  display: grid;
  border-radius: 25px 25px 25px 25px;
  background-color: hsl(205, 75%, 47%);
}
#whaaa {
  background-color: red;
}
.checked {
  text-decoration: line-through;
}
.cancelled {
  background-color: red;
}
#about {
  background-color: red;
  color: white;
}
.todo {
  font-size: 1rem;
  margin: 1rem;
  background-color: green;
}
.today {
  font-size: 1rem;
  margin: 1rem;
  background-color: red;;
}